<main>
    <section class="form-section ">
        <img class="img-logo" src="/assets/svg/logo.svg" alt="MoveIt">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button 
                class="btn-primary"
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>

            <div class="dividir">
                <span>Or continue with</span>
                <div></div>
            </div>

            <div class="btn-group">
                <button class="btn-google">
                    <img src="../../../assets/svg/icon-google.svg" alt="">
                </button>
                <button class="btn-facebook">
                    <img src="../../../assets/svg/icon-face.svg" alt="">
                </button>
            </div>
            
            <div class="dividir">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            
            <button 
                class="btn-secondary"
                (navigate)="submit()"
            >{{ secondaryBtnText }}</button>
        </div>
    </section>

    <section class="main-section">
        <h1>You Should, MoveIt!</h1>
        <img src="/assets/svg/main-illustration.svg" alt="MoveIt">
    </section>
</main> 