<app-default-login-layout
    title="Login into yout account"
    primaryBtnText="Login Now"
    secondaryBtnText="Signup Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="email"
            placeHolder="john@gmail.com"
        >
            <img src="/assets/svg/icon-email.svg" alt="">
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Your Pass"
            placeHolder=""
        >
            <img src="/assets/svg/icon-pass.svg" alt="">
        </app-primary-input>

        <span>Forgot password?</span>
    </form>
</app-default-login-layout>